/* SocialLinks.css */
.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 14px;
  background: #b983ffbe;
  width: 47px;
  height: 181px;
  }
  

  .social-whatsapp{
    position: fixed;
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 40px; /* Distancia desde el borde derecho */
    padding: 20px; /* Espaciado interno */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    width: 300px; /* Ancho del modal */
  }
  .social-links a {
    display: block;
    margin: 10px 0;
    font-size: 24px;
    width: 21px;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #000000; /* Cambia a un color cuando el usuario pase el ratón */
  }
  
  .social-links a:not(:last-child) {
    margin-bottom: 15px; /* Espaciado entre íconos */
  }