.formContainer {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 160px;
    padding: 20px;
    background-color: #6556DB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    text-align: center;
    color: white;
  }
  
  .subtitle {
    text-align: center;
    font-size: 14px;
    color: white
  }
  
  .formGroup {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .textarea {
    resize: none;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #3822df;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #5445c9;
  }
  
  .captcha {
    text-align: center;
    margin-bottom: 15px;
  }
  